body {
    font-family: 'Arial', sans-serif;
}

.hero {
    font-family: 'Lobster';
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1{
    font-size: 7rem;
}

.hero p{
    font-size: 2rem;
}