body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.contact {
    display: none;
    background-color: #F7DC6F;
}

/* Section Contact */
.contact {
    background-color: #f8f9fa;
}

/* Modify the background color */
.vincent-navbar-custom {
    background-color: #FFC0CB;
}

.vincent-navitem {
    color: black;
}

*::-webkit-scrollbar {
     width: 5px;
 }

*::-webkit-scrollbar-track {
     background: transparent;
 }

*::-webkit-scrollbar-thumb {
     background-color: rgb(36, 36, 36);
     border-radius: 1px;
 // border: 1px solid rgb(128, 128, 128);
 }

.hero {
    font-family: 'Lobster';
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1{
    font-size: 7rem;
}

.hero p{
    font-size: 2rem;
}


.presentation .cardDetails {
    display: flex;
}
.presentation {
    background-color: #F7DC6F;
}

.presentation .cardDetails img {
    width: 20vw;
}

.presentation .container{
    background-color: white;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes slidein {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}